.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  margin: 0;
}
/*----- Flex -------*/
.flexRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}
.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.flexCenter {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.flexStretch {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.stretch {
  align-items: stretch;
}
.alignCenter {
  align-items: center;
}
.flexStart {
  align-items: flex-start;
}
.flexEnd {
  align-items: flex-end;
}
.spaceBetween {
  justify-content: space-between;
}
.spaceAround {
  justify-content: space-around;
}
.justifyStart {
  justify-content: flex-start;
}
.justifyEnd {
  justify-content: flex-end;
}
.justifyCenter {
  justify-content: center;
}
.stretchSelf {
  align-self: stretch;
}
.flexEndSelf {
  align-self: flex-end;
}
.flex1 {
  flex: 1;
}